/** general reference **/

header
{
  /** position: relative (respects every other element, has margin), absolute (top: 0px, left, right, width: 100%, etc, loses margin, lets you put it everywhere you want), fixed **/
  position: absolute;
  width: 100%;
  background-image: linear-gradient(120deg, #1B0088, #FFFFFF); /** colours **/
  font-size: 15px;
}

li
{
  color: white; /** text colour **/
  text-decoration: none;
  display: inline-block;
  padding-left: 20px;
  font-size: 15px;
}

footer
{
  position: relative;
  width: 100%;
  height: 100%;
  /** padding: 1rem; **/
  font-size: 15px;
  font-family: 'arial';
  text-align: center;
  bottom: 0;
  left:  0;
  background-image: linear-gradient(120deg, #1B0088, #FFFFFF); /** colours Fs**/
}

/** class reference **/

.description
{
  font-size: 35px;
  top: 100px;
  font-family: 'calibri';
  width: 100%;
  text-align: left; 
}
