/** general reference **/

header
{
  /** position: relative (respects every other element, has margin), absolute (top: 0px, left, right, width: 100%, etc, loses margin, lets you put it everywhere you want), fixed **/
  position: absolute;
  width: 100%;
  background-image: linear-gradient(120deg, #21618C, #5499C7); /** colours **/
  font-size: 15px;
}

li
{
  color: white; /** text colour **/
  text-decoration: none;
  display: inline-block;
  padding-left: 120px;
  font-size: 15px;
}

footer
{
  position: relative;
  font-size: 15px;
  font-family: 'arial';
  text-align: center;
  background-image: linear-gradient(120deg, #21618C, #5499C7); /** colours **/
}

/** class reference **/

.description
{
  font-size: 20px;
  top: 100px;
  font-family: 'calibri';
  width: 100%;
  text-align: left; 
}
